<h3>Admins description</h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<hr>

<%= link_to 'Edit', edit_admin_path(@admin), class: "btn btn-secondary" %> |
<%= link_to 'Back', admins_path, class: "btn btn-secondary" %>
